---
layout: layouts/base.njk
---
<section class="ui-section-feature">
	<div class="ui-layout-container">
		<div class="ui-section-feature__layout">
			<h2>{{ what_is_montelibero.header }}</h2>
			<p class="ui-text-intro">{{ what_is_montelibero.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ population.header }}</h2>
			<p class="ui-text-intro">{{ population.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ growth.header }}</h2>
			<p class="ui-text-intro">{{ growth.text | md | safe }}</p>			
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ tokenomics.header }}</h2>
			<p class="ui-text-intro">{{ tokenomics.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ eurmtl.header }}</h2>
			<p class="ui-text-intro">{{ eurmtl.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ MTL.header }}</h2>
			<p class="ui-text-intro">{{ MTL.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ meetings.header }}</h2>
			<p class="ui-text-intro">{{ meetings.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ fcm.header }}</h2>
			<p class="ui-text-intro">{{ fcm.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ city.header }}</h2>
			<p class="ui-text-intro">{{ city.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ mtlfest.header }}</h2>
			<p class="ui-text-intro">{{ mtlfest.text | md | safe }}</p>
		</div>
		<div class="ui-section-feature__layout">
			<h2>{{ online.header }}</h2>
			<p class="ui-text-intro">{{ online.text | md | safe }}</p>
		</div>
	</div>
</section>

<section class="ui-section-close">
	<div class="ui-layout-container">
		<div class="ui-layout-column-6 ui-layout-column-center">
			<h2>{{ join.header }}</h2>
			<p class="ui-text-intro">{{ join.text | md | safe }}</p>
			<!-- CTA -->
			<div class="ui-component-cta ui-layout-flex">
				<a href="https://t.me/Seasteading_EastEurope" role="link" aria-label="{{ join_telegram }}" class="ui-component-button ui-component-button-normal ui-component-button-primary">
					{{ join_telegram }}
				</a>
			</div>
		</div>
	</div>
</section>