---
layout: layouts/base.njk
---

<section class="ui-section-feature">
	<div class="ui-layout-container">
		<div class="ui-section-feature__layout">
			<!-- FEATURE -->
			<div>
				<p class="ui-text-intro">{{ content | safe }}</p>
			</div>
		</div>

<div class="content"></div>
